DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=commerce_user
DB_PASSWORD=
DB_DATABASE=commerce
PORT=3000
PAYMENT_PROVIDER_BASE_URL=http://localhost:4001
FAKE_PAYMENT_PORT=4001
RABBITMQ_USER=commerce
RABBITMQ_PASSWORD=commerce
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://commerce:commerce@localhost:5672
